body{
    margin: 0;
    padding: 0;
}
/* ------------ Title Underline ------------*/
.title::before{
    content: '';
    background: green;
    height: 5px;
    width: 150px;
    margin-left: auto;
    margin-right:auto;
    display:block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: green;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:40px;
    display:block;
    transform: translateY(8px);
}

/*---------Navigation section---------*/
.navbar-brand {
    margin-top:-5px;
    margin-left:100px;
    font-size:40px;
    font-weight:bold;
    color: green !important;
    text-transform:capitalize; 
    text-shadow:3px 3px 5px #777;    
}
.mynav a {
    margin-right: 20px;
    color:green !important;
    border-bottom: 2px solid transparent;
}

.mynav a:hover {
    border-bottom: 2px solid green;
}

.active a {
    border-bottom: 2px solid green;
}
.trn {
    background: transparent !important;
    z-index:999;
}

.trn a {
    margin-right: 30px;
    color:greenyellow!important;
    border-bottom: 2px solid transparent;
}

.trn a:hover {
    border-bottom: 2px solid green !important;
}
.hactive a {
    border-bottom: 2px solid green;
}
/* ----- carousel section --------*/
.carousel-caption {
    margin-bottom:20%;
    margin-bottom: 20%;
    padding: 50px 100px;
}

.carousel-caption h5{
    font-size:60px;
    text-transform:uppercase;
}

.carousel-caption p{
    font-size:20px;
}
.overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    opacity:0.7;
}
.btn-primary {
    background: #e42448;
    border-color:transparent !important;
    color: #fff !important;
    border-radius: 50px;
    padding: 10px 25px !important;
    width: 200px;
    text-align: center;
    margin:10px 15px;
}

.btn-primary:hover {
    background: #731397;
}

.btn-success {
    background: #181174;
    border-color:transparent !important;
    color: #fff !important;
    border-radius: 50px;
    padding: 10px 25px !important;
    width: 200px;
    text-align: center;
    margin:10px 15px;
}

.btn-success:hover {
    background: #731397;
}

.btn-danger {
    background: #731397;
    border-color:transparent !important;
    color: #fff !important;
    border-radius: 50px;
    padding: 10px 25px !important;
    width: 200px;
    text-align: center;
    margin:10px 15px;
}

.btn-danger:hover {
    background: #e42448;
}

.frt {
    float:right;
}

/* ---our focus area section ----*/
   .sub-heading{
       position: relative;
       margin-bottom:75px;
   }
   .sub-heading:before{
       content:"";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -3%;
       width: 6%;
       height:1 px;
       background-color: deepskyblue;
       z-index: 1;
       transition: 0.3s ease;
       -webkit-transition: 0.3s ease;
   }
   .sub-heading:hover:before{
    width: 24%;
    margin-left: 12px;
}
.sub-heading:after{
    content:"";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -13%;
       width: 24%;
       height:1 px;
       background-color: #e1e1e1;
       z-index: 1;
       transition: 0.3s ease;
       -webkit-transition: 0.3s ease;
}
.sub-heading p{
    color: #818181;
    display: flex;
    padding: 0px 0px 26px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

/* ---------Services Section -----------*/
#services{
    padding: 80px 0;
}
.service.img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5Px;
    margin-top: 25px;
    text-transform: capitalize;
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #571782);
}
#services p{
    color: black;
    text-align: justify;
}
.services-intro{
    text-align: justify;
}
#services i {
    font-size: 50px;
    color:green;
}

/*--------Parallax section--------*/
.parallax{
    padding: 100px 0px;
    margin-top: -10px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/assets/image/agro/trees.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.parallax h2, p{
    color:#f3f3f3;
    opacity: 0.7;
}

/*---------more feature section --------------*/
.more-feature{
    padding: 100px 0px;
    margin-top: -40px;
}
.more-feature .title h2{
    color: black;
}
.more-feature .sub-heading p{
    color: grey;
}
.feature-list ul{
    list-style: none;
    padding-left: 100px;
}
.feature-list li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}
.feature-list li:hover i{
    color:white;
    background-color:green;
    transition: 0.5s ease;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.more-feature-icon{
    position: absolute;
    left:0
}
.more-feature-icon i{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: green;
    border-radius: 50%;
    border: 2px solid green;
    line-height: 50px;
}
.feature-details h3{
    color: green;
    text-transform: capitalize;
    font-weight: 500;
}
.feature-details p{
    color: #616161;
    font-weight: 200
}

/* ------------- Testimonals Sildder Section -----------*/
.testimonals{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/image/agro/sacks.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: -100px;
}
.testimonals .carousel-indicators{
    bottom: -60px;
}
.testimonals h2{
    color: white;
}
.testimonals h4{
    color: white;
}
.testimonals p{
    color: white;
}
.testimonals .sub-heading{
    color: white;
}
.testimonals .carousel-inner img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid green;
    padding: 5px;
}
.testimonals .carousel-item h2{
    padding-top: 30px;
}
.testimonals .carousel-indicators li.active{
    background-color: green;
}

/* ---------------- Team Section ----------*/
.team-area{
    padding: 80px 0;
}
.teaxt-area .sub-heading{
    margin-bottom: 50px;
}
.team-mate{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 200px;
    height: 200px;
    min-width: 200px;
    width:200px;
    border: 3px solid green;
    border-radius: 50%;
}
.team-mate img{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100;
    border-radius: 50%;
}
.team-title h3{
    color: green;
    font-size: 20px;
    font-weight: 700px;
}