html{
    line-height: 1.15;
}
body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #c56cf0;
  }
/* ------------page section -------------*/
.page-section {
    padding: 8rem 0;
  }
  
  .page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
  }
/* ------------ Title Underline ------------*/
.title::before{
    content: '';
    background: green;
    height: 5px;
    width: 150px;
    margin-left: auto;
    margin-right:auto;
    display:block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: green;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:40px;
    display:block;
    transform: translateY(8px);
}

/*---------Navigation section---------*/
.navbar-brand {
    margin-top:-5px;
    margin-left:100px;
    padding: 40px 15px;
    font-size:25px;
    font-weight: bold;
    color: green !important;
    text-transform:capitalize;   
    letter-spacing: 2px;
}
.navbar-brand a:hover{
    color: #fff;
    border-bottom: none;
}
.trn {
    background-color: transparent !important;
    border-color: transparent;
    z-index:999;
    height: 70px;
    transition: all 0.5s;
    transition: all 0.5s;
    padding: 20px 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
.trn.header-scrolled{
    background: white !important;
    height: 70px;
    padding: 10px 0; 
  }

.trn a {
    margin-right: 30px;
    color:  #edbb00!important;
    border-bottom: 2px solid transparent;
}

.trn a:hover {
    border-bottom: 2px solid  #edbb00 !important;
}

/* ----- carousel section --------*/
.banner{
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-item{
    height: 100vh;
    min-height: 500px;
    background:no-repeat center center scroll;
    background-size: cover;
}
.carousel-caption {
    padding-bottom: 150px;
    font-family: poppins;
}
.carousel-caption h2{
    font-size:70px;
    text-transform:capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}
.carousel-caption h2 span{
    color: #edbb00;
}
.carousel-caption p{
    font-size:20px;
    width: 75%;
    margin: auto;
    line-height: 1.9;
}
.carousel-caption a{
    background: #edbb00;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}
.carousel-indicators .active{
    background-color: #edbb00;
    border-color: #edbb00;
}
.overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    opacity:0.7;
}

/* ---------Services Section -----------*/
.services{
    padding: 80px 0;
    font-family: Audiowide;
}
.services h4{
    padding: 5Px;
    margin-top: 25px;
    text-transform: capitalize;
}
.services-intro{
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    color: #818181;
}
.services-text{
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    color: #818181;
}
.services i {
    font-size: 50px;
    color:green;
}
.services-box{
    padding: 20px;
}


/*--------Parallax section--------*/
.parallax{
    padding: 100px 0px;
    margin-top: -10px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/assets/image/agro/trees.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.parallax h2, p{
    color:#f3f3f3;
    opacity: 0.7;
}

/*---------more feature section --------------*/
.more-feature{
    padding: 100px 0px;
    margin-top: -40px;
}
.more-feature .title h2{
    color: black;
}
.more-feature .sub-heading p{
    color: grey;
}
.feature-list ul{
    list-style: none;
    padding-left: 100px;
}
.feature-list li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}
.feature-list li:hover i{
    color:white;
    background-color:green;
    transition: 0.5s ease;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.more-feature-icon{
    position: absolute;
    left:0
}
.more-feature-icon i{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: green;
    border-radius: 50%;
    border: 2px solid green;
    line-height: 50px;
}
.feature-details h3{
    color: green;
    text-transform: capitalize;
    font-weight: 500;
}
.feature-details p{
    color: #616161;
    font-weight: 200
}

/* ------------- Testimonals Sildder Section -----------*/
/* .testimonals{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/image/agro/sacks.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: -100px;
}
.testimonals .carousel-indicators{
    bottom: -60px;
}
.testimonals h2{
    color: white;
}
.testimonals h4{
    color: white;
}
.testimonals p{
    color: white;
}
.testimonals .sub-heading{
    color: white;
}
.testimonals .carousel-inner img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid green;
    padding: 5px;
}
.testimonals .carousel-item h2{
    padding-top: 30px;
}
.testimonals .carousel-indicators li.active{
    background-color: green;
} */

 /* Testimonials Section
  --------------------------------*/
  
  #testimonials {
    padding: 60px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  
  #testimonials .section-header {
    margin-bottom: 40px;
  }
  
  #testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
  }
  
  #testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    margin-left: 140px;
  }
  
  #testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    margin-left: 140px;
  }
  
  #testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 140px;
  }
  
  #testimonials .owl-nav,
  #testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #testimonials .owl-dot.active {
    background-color: #007bff;
  }

/* ---------------- Team Section ----------*/

.team-member {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border: 7px solid rgba(0, 0, 0, 0.1);
  }
  
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .team-member p {
    margin-top: 0;
  }

  /* ----------social buttons -----------*/
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
  }